.cars {
  font-family: "Nunito", sans-serif;
  padding-top: 57px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box; }
  .cars aside {
    width: 100%;
    height: calc(100vh - 55px);
    position: absolute;
    z-index: 8;
    padding: 10px 20px;
    display: none;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0 0 10px -7px #171717;
    box-sizing: border-box;
    overflow-y: auto;
    transition: 0.3s ease; }
    .cars aside .sidebar-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding-bottom: 10px;
      max-height: 30px;
      border-bottom: 1px solid #DDDDDD; }
      .cars aside .sidebar-header.sidebar-section:not(:last-child) {
        margin-bottom: 15px; }
      .cars aside .sidebar-header h3 {
        font-size: 1.3rem;
        font-weight: bold; }
      .cars aside .sidebar-header .close-sidebar-button {
        display: inline-flex;
        align-items: center;
        color: #DA0037;
        font-size: 1.1rem;
        transition: 0.3s ease; }
        .cars aside .sidebar-header .close-sidebar-button:hover {
          color: #CE1212; }
        .cars aside .sidebar-header .close-sidebar-button svg {
          margin-right: 6px; }
    .cars aside .sidebar-section {
      width: 100%; }
      .cars aside .sidebar-section:not(:last-child) {
        margin-bottom: 30px; }
      .cars aside .sidebar-section h4 {
        margin-bottom: 10px;
        font-weight: bold; }
    .cars aside ul li {
      display: flex;
      align-items: center;
      user-select: none; }
      .cars aside ul li label {
        padding-block: 2px;
        display: flex;
        align-items: center;
        width: 100%; }
        .cars aside ul li label .MuiCheckbox-root.Mui-checked {
          color: #DA0037; }
        .cars aside ul li label .MuiCheckbox-root, .cars aside ul li label svg {
          width: 1.1rem;
          height: 1.1rem; }
        .cars aside ul li label span {
          margin-inline: 10px -5px;
          padding: 0; }
        .cars aside ul li label .MuiFormControlLabel-label {
          width: 100%; }
    .cars aside .availability {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .cars aside .availability > span .Mui-checked {
        color: #DA0037; }
        .cars aside .availability > span .Mui-checked + .MuiSwitch-track {
          background: #DA0037; }
      .cars aside .availability h4 {
        margin-bottom: 0; }
    .cars aside .price-per-day .MuiSlider-root {
      color: #DA0037;
      margin-left: 5px;
      width: calc(100% - 24px); }
      .cars aside .price-per-day .MuiSlider-root .MuiSlider-thumb:hover {
        box-shadow: 0 0 0 8px rgba(218, 0, 55, 0.16); }
      .cars aside .price-per-day .MuiSlider-root .MuiSlider-thumb.Mui-active {
        box-shadow: 0 0 0 14px rgba(218, 0, 55, 0.16); }
      .cars aside .price-per-day .MuiSlider-root .MuiSlider-markLabel {
        margin-top: -2px;
        color: #171717; }
      .cars aside .price-per-day .MuiSlider-root .MuiSwitch-track {
        background: #DA0037; }
  .cars .cars-container {
    display: flex; }
    .cars .cars-container aside {
      display: flex; }
    .cars .cars-container .content-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      height: calc(100vh - 91px); }
      .cars .cars-container .content-container > .content {
        padding: 10px;
        display: grid;
        grid-template-columns: 1fr;
        overflow-y: auto;
        gap: 15px; }
        .cars .cars-container .content-container > .content .card {
          padding: 20px;
          background: #FFFFFF;
          border-radius: 3px;
          cursor: pointer;
          box-sizing: border-box;
          transition: 0.3s ease;
          box-shadow: 0 0 10px -5px #DDDDDD; }
          .cars .cars-container .content-container > .content .card header img {
            width: 100%;
            height: 180px;
            object-fit: cover;
            border-radius: 3px; }
          .cars .cars-container .content-container > .content .card header h3 {
            font-weight: bold;
            margin-block: 10px;
            font-size: 1.2rem;
            text-align: center; }
          .cars .cars-container .content-container > .content .card footer {
            display: flex;
            flex-direction: column; }
  .cars .filters {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 6px 10px;
    background: #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0 0 10px -5px #171717;
    z-index: 5; }
    .cars .filters .filters-item {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      margin-block: 5px; }
      .cars .filters .filters-item.search-container {
        max-width: 100%;
        width: 100%; }
      .cars .filters .filters-item.sorting-container:not(:last-child) {
        max-width: calc(100% - 43px);
        width: 100%;
        margin-right: 0; }
        .cars .filters .filters-item.sorting-container:not(:last-child) .selector {
          width: 100%; }
      .cars .filters .filters-item.show-filters-container svg {
        background: #FFFFFF;
        padding: 10px;
        border-radius: 3px;
        cursor: pointer;
        border: 1px solid #DDDDDD; }
      .cars .filters .filters-item:not(:last-child) {
        margin-right: 5px; }
      .cars .filters .filters-item label {
        font-weight: bold;
        margin-right: 10px;
        white-space: nowrap; }
      .cars .filters .filters-item input {
        font-family: "Nunito", sans-serif;
        padding: 7px;
        width: 100%;
        outline: none;
        border: 1px solid #DDDDDD;
        border-radius: 3px;
        font-size: 1rem; }
    .cars .filters .selector {
      min-width: 180px; }
  .cars .footer {
    position: relative;
    margin-top: 0;
    bottom: 0; }

@media screen and (min-width: 425px) {
  .cars aside {
    flex-direction: row;
    flex-wrap: wrap; }
    .cars aside .sidebar-section {
      width: auto;
      min-width: 200px; }
    .cars aside .availability, .cars aside .price-per-day, .cars aside .sidebar-header {
      width: 100%; }
  .cars .cars-container .content-container > .content {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)); } }
@media screen and (min-width: 768px) {
  .cars .cars-container .content-container > .content {
    grid-template-columns: repeat(2, 1fr); }
  .cars .filters {
    flex-wrap: nowrap; }
    .cars .filters .filters-item {
      margin-block: 0; }
      .cars .filters .filters-item.sorting-container:not(:last-child) {
        margin-right: 5px;
        width: auto; } }
@media screen and (min-width: 1024px) {
  ::-webkit-scrollbar {
    width: 3px;
    background: #DDDDDD; }

  ::-webkit-scrollbar-thumb {
    background: #DA0037;
    border-radius: 3px; }

  .cars {
    padding-top: 55px; }
    .cars .cars-container .content-container {
      width: calc(100% - 320px); }
      .cars .cars-container .content-container > .content {
        grid-template-columns: repeat(2, 1fr); }
    .cars .cars-container.full-screen > .content-container {
      width: 100%; }
      .cars .cars-container.full-screen > .content-container > .content {
        grid-template-columns: repeat(3, 1fr); }
    .cars aside {
      display: flex;
      flex-direction: column;
      width: 320px;
      position: relative;
      flex-wrap: nowrap;
      height: calc(100vh - 91px); }
      .cars aside .sidebar-section.sidebar-header {
        display: none; } }
@media screen and (min-width: 1440px) {
  .cars .cars-container .content-container > .content {
    grid-template-columns: repeat(4, 1fr); }
  .cars .cars-container.full-screen > .content-container > .content {
    grid-template-columns: repeat(5, 1fr); } }

/*# sourceMappingURL=cars.css.map */
