@import 'variables';

body::-webkit-scrollbar {
  width: 0;
  height: 0;
}

body {
  font-family: $nunito;
  font-size: $default-font-size;
  overflow-x: hidden;
  background: $color-white;
}

.application {

  .mobile-menu {
    display: flex;
    flex-direction: column;
    background: $color-black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    header {
      color: $color-white;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px;

      h3 {
        font-size: 1.3rem;
      }

      svg {
        font-size: 1.5rem;
        margin-right: 5px;
        cursor: pointer;
      }
    }

    .navigation-link-container {
      position: relative;
      display: flex;
      flex-direction: column;

      svg {
        color: $color-white;
        position: absolute;
        font-size: 1.5rem;
        right: 0;
        top: 2px;
        padding: 10px 15px;
      }

      svg:hover + .submenu, .submenu:hover {
        display: flex;
        flex-direction: column;
      }

      .submenu {
        margin-block: 10px;
        display: none;
        background: $color-gray;
        border-radius: $border-radius-small;

        > a {
          font-size: 0.9rem;
          padding: 10px 20px;
        }
      }
    }

    nav {
      display: flex;
      flex-direction: column;
      padding: 30px 10px;

      a {
        padding: 15px 10px;
        margin-block: 2px;
        text-align: center;
        text-decoration: none;
        color: $color-white;
        cursor: pointer;
        border-radius: $border-radius-small;
        transition: $default-transition;

        &:hover, &.active {
          background: $color-white;
          color: $color-black;

          & + svg {
            color: $color-black;
          }
        }
      }
    }
  }

  .button {
    padding: 10px 30px;
    font-family: $nunito;
    font-size: $default-font-size;
    text-decoration: none;
    cursor: pointer;
    transition: $default-transition;
    border-radius: $border-radius-small;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
  }

  .button-white {
    background: $color-white;
    color: $color-black;

    &:hover {
      background: $color-white-blue;
    }
  }

  .button-red {
    background: $color-red;
    color: $color-white;

    &:hover {
      background: $color-dark-red;
    }
  }

  .button-black {
    background: $color-black;
    color: $color-white;

    &:hover {
      background: $color-gray;
    }
  }

  .button-gray {
    background: $color-gray;
    color: $color-white;

    &:hover {
      background: $color-light-gray;
    }
  }

  .navigation-container {
    z-index: 100;
    display: flex;
    justify-content: space-between;
    position: fixed;
    padding: 10px;
    transition: $default-transition;
    font-family: $nunito;
    top: 0;
    left: 0;
    right: 0;

    .window-scroll-percentage {
      display: flex;
      position: absolute;
      left: 0;
      bottom: -1px;
      background: $color-red;
      width: 100%;
      height: 3px;
    }

    &.white {
      background: $color-white;
      border-bottom: 1px solid $color-silver;

      .show-burger-menu {
        color: $color-black;
        border: 1px solid $color-black;
      }

      .link-group {

        .navigation {
          a.link {
            color: $color-black;
          }

          .delimiter::after {
            background: $color-black;
          }
        }
      }
    }

    .link-group {
      display: inline-flex;
      align-items: center;

      a.button {
        padding: 7px 20px;
        margin-right: 10px;
      }

      .navigation {
        display: none;
        width: 100%;
        align-items: center;
        position: relative;

        .navigation-link-container {
          position: relative;
          top: 0;

          &:hover {
            height: calc(1rem + 15px);
            top: 2px;

            .submenu {
              display: flex;
            }
          }
        }

        .submenu {
          display: none;
          flex-direction: column;
          justify-content: center;
          background: $color-white;
          max-width: 200px;
          width: 200%;
          position: absolute;
          z-index: 3;
          padding: 5px;
          border-radius: $border-radius-small;
          margin: 5px;
          box-shadow: 0 0 10px -5px $color-black;

          &:hover {
            display: flex;
          }

          a {
            text-decoration: none;
            color: $color-black;
            transition: $default-transition;
            padding: 7px 15px;
            border-radius: $border-radius-small;
            position: relative;
            font-size: 0.9rem;

            &:hover {
              color: $color-red;
              background: $color-silver;
            }
          }
        }

        a.link {
          color: $color-white;
          text-decoration: none;
          transition: $default-transition;
          font-size: $default-font-size;
          display: inline-flex;
          padding: 5px 20px;
          margin-inline: 5px;
          position: relative;
          border-radius: $border-radius-small;

          &.logo {
            font-weight: bold;
            font-size: 1.5rem;
          }

          &:hover + .submenu {
            display: flex;
          }

          &:hover {
            color: $color-red;
            background: $color-silver;
          }
        }

        .delimiter::after {
          content: '';
          display: inline-flex;
          border-radius: $border-radius-small;
          width: 2px;
          height: 1rem;
          background: $color-white;
        }
      }
    }

    .show-burger-menu {
      color: $color-white;
      font-size: 1.5rem;
      align-items: center;
      border: 1px solid $color-white;
      display: inline-flex;
      padding: 5px 10px;
      border-radius: $border-radius-small;
      transition: $default-transition;
      cursor: pointer;

      &:hover {
        color: $color-black;
        background: $color-white;
      }
    }
  }

  .footer {
    margin-top: 30px;
    background: $color-black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
  }
}

.form-container {

  .form-heading {
    font-family: $oswald;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 20px;
  }

  .error-input {
    border: 1px solid $color-red !important;
  }

  .error {
    margin-top: 5px;
    color: $color-red;
  }

  form {

    .form-group {
      display: flex;

      .form-item {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        font-size: 1rem;

        label {
          width: 100%;
          margin-bottom: 5px;
        }

        input:not([type="checkbox"]),
        input:not([type="radio"]),
        input:not([type="submit"]),
        textarea,
        select {
          width: 100%;
          padding: 10px;
          border: 1px solid $color-silver;
          border-radius: $border-radius-small;
          font-family: $nunito;
          outline: none;
          font-size: 0.9rem;
        }

        textarea {
          resize: vertical;
          min-height: 150px;
        }

        .submit-button {
          border: none !important;
          margin-top: 15px;
          font-size: 1.1rem !important;
        }
      }
    }
  }
}

.pagination {
  background: $color-default-white;
  box-shadow: 0 0 10px -5px $color-black;
  padding: 5px;
  display: flex;
  justify-content: center;

  .button-list {

    span {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
      background: $color-default-white;
      color: $color-black;
      border-radius: $border-radius-small;
      cursor: pointer;
      text-align: center;
      width: 16px;
      height: 16px;
      user-select: none;

      &.active {
        color: $color-red;
        background: $color-silver;
      }

      &:hover {
        color: $color-red;
      }

      &:not(:last-child) {
        margin-right: 5px;
      }
    }
  }

}

.selector {
  border-radius: $border-radius-small;
  cursor: pointer;
  background: $color-default-white;
  border: 1px solid $color-silver;
  user-select: none;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  > span {
    width: 100%;
    padding: 10px;
    position: relative;
    z-index: 2;
  }

  svg.sort-down-icon {
    margin-top: -3px;
    margin-bottom: 3px;
    position: absolute;
    right: 10px;
    z-index: 1;
  }

  .option-list {
    padding: 5px;
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    border-radius: $border-radius-small;
    background: $color-default-white;
    border: 1px solid $color-silver;
    width: 100%;
    box-sizing: border-box;

    > div {
      padding: 5px;
      border-radius: $border-radius-small;
      transition: $default-transition;

      &:hover {
        background: $color-silver;
        color: $color-red;
      }
    }
  }
}

.loading-page {
  margin: auto auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;

  img {
    min-width: 32px;
    max-width: 64px;
    width: 25%;
  }
}

@media screen and (min-width: $laptop-screen) {

  .application {

    .navigation-container {

      .link-group {

        .navigation {
          display: flex;
        }
      }

      .show-burger-menu {
        display: none;
      }
    }
  }
}