// basic palette colors
$color-black: #171717;
$color-gray: #444444;
$color-red: #DA0037;
$color-white: #EDEDED;

// other colors
$color-silver: #DDDDDD;
$color-white-blue: #D6E0F0;
$color-light-red: #FF6464;
$color-dark-red: #CE1212;
$color-light-gray: #706C61;

// fonts
$nunito: 'Nunito', sans-serif;
$oswald: 'Oswald', sans-serif;
$raleway: 'Raleway', sans-serif;
$default-font-size: 1rem;

// other
$border-radius-small: 3px;
$default-transition: 0.3s ease;